<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script type="text/javascript" src="./js/main.js"></script>

    <title>Document</title>
</head>
<body>
    <div class='container'>
        <header>
            <div class="nav">
                <img src="img/Sample Logo.png">
                <button class="logout">로그아웃</button>
                <button class="mypage"><img src="img/Profile.png"></button>
            </div>
        </header>

        <section class='profile'>
            <!-- 메인페이지를 썸네일과 wall, img로 구성했습니다. -->
            <!-- <h2>Who is?</h2> -->
            <div class="map_search">
                <img src="img/id_search.png">
                <input class="search" type="text" placeholder="장소">
            </div>
            <div class="caption">
                <img src="img/polygon.png">
                <br>
                <button id="icon_btn" class="icon"><img src="img/pin/Anchor.png"></button>
                <div id="iconModal" class="modal">
                    <div class="modal-content">
                        <span id="icon_close" class="close">&times;</span> 
                        <br><br>
                        <img src="img/pin/Anchor.png">
                        <img src="img/pin/beer 1.png">
                        <img src="img/pin/bridge 1.png">
                        <img src="img/pin/carousel 1.png">
                        <img src="img/pin/church 1.png">
                        <img src="img/pin/circus 1.png">
                        <img src="img/pin/coffee-cup 1.png">
                        <img src="img/pin/dinner 1.png">
                        <img src="img/pin/elephant 1.png">
                        <img src="img/pin/hotel 1.png">
                        <img src="img/pin/hotel 3.png">
                        <img src="img/pin/mountains 1.png">
                        <img src="img/pin/mountains 3.png">
                        <img src="img/pin/mountains-landscape-and-night-sky-hand-drawn-view 1.png">
                        <img src="img/pin/museum 1.png">
                        <img src="img/pin/plane 1.png">
                        <img src="img/pin/water-park 1.png">
                    </div>
                </div>
                <input class="title" type="text" placeholder="장소">
                <input type="text" placeholder="주소">
                <input class="time" type="date"  value="2021-07-02">
                <input class="time" type="time"  value="12:00:00">
                <input type="text" placeholder="교통수단">
                <button id="mobile_btn" class="transportation">Search</button>
                <div id="mobileModal" class="modal">
                    <div class="modal-content">
                        <span id="mobile_close" class="close">&times;</span> 
    
                    </div>
                </div>
                <input type="text" placeholder="태그">
                <input type="text" placeholder="경비">
                <button id="pay_btn" class="price">Search</button>
                <div id="payModal" class="modal">
                    <div class="modal-content">
                        <span id="pay_close" class="close">&times;</span> 
                        <p>hihi</p>
                    </div>
                </div>
                <input type="text" placeholder="메모">
                <br>
                <input type="file" placeholder="사진">
                <button class="add">일정 추가</button>
    
            </div>
            <div class="map">
                <img src="img/map.png">
            </div>
            <div class="content">
                <ui>
                    <li>
                        <p class="num">1</p>
                        <p class="text">시작하기</p>
                    </li>
                    <li>
                        <p class="num selected">2</p>
                        <p class="text">여행지선택</p>
                    </li>
                    <li>
                        <p class="num">3</p>
                        <p class="text">세부일정</p>
                    </li>
                </ui>
            </div>
            <div class="share">
                <button>Share</button>
                <img src="img/share/user1.png">
                <img src="img/share/user2.png">
                <img src="img/share/user3.png">
                <img src="img/share/user4.png">
            </div>
            <button class="next" onclick="location.href='plan.html'">Next</button>
        </section>
        

        
        
    <footer>
        
    </footer>
</body>
</html>