<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script type="text/javascript" src="./js/main.js"></script>

    <title>Document</title>
</head>
<body>
    <div class='container'>
        <header>
            <div class="nav">
                <img src="img/Sample Logo.png">
                <button class="logout">로그아웃</button>
                <button class="mypage"><img src="img/Profile.png"></button>
            </div>
        </header>

        <section class='profile'>
            <!-- 메인페이지를 썸네일과 wall, img로 구성했습니다. -->
            <!-- <h2>Who is?</h2> -->
            <div class="map_search">
                <img src="img/id_search.png">
                <input class="search" type="text" placeholder="장소">
            </div>
            <div class="caption">
                <img src="img/polygon.png">
                <ul>
                    <li>
                        <p class="num">1일차</p>
                        <p class="text">예상 경비 : 총 n만원</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="num">2일차</p>
                        <p class="text">예상 경비 : 총 n만원</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p class="num">3일차</p>
                        <p class="text">예상 경비 : 총 n만원</p>
                    </li>
                </ul>
    
            </div>
            <div class="map">
                <img src="img/planmap.png">
            </div>
            <div class="content">
                <ui>
                    <li>
                        <p class="num">1</p>
                        <p class="text">시작하기</p>
                    </li>
                    <li>
                        <p class="num">2</p>
                        <p class="text">여행지선택</p>
                    </li>
                    <li>
                        <p class="num selected">3</p>
                        <p class="text">세부일정</p>
                    </li>
                </ui>
            </div>
            <div class="share">
                <button>Share</button>
                <img src="img/share/user1.png">
                <img src="img/share/user2.png">
                <img src="img/share/user3.png">
                <img src="img/share/user4.png">
            </div>
            <button class="next">Next</button>
        </section>
        

        
        
    <footer>
        
    </footer>
</body>
</html>