<!DOCTYPE html>
<html lang="ko">
<head>
     <!-- jquery 사용 -->
     <script src="https://code.jquery.com/jquery-3.6.0.js"
     integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- 부트스트랩 사용 -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="js/jquery.autosize.js"></script>


    <meta charset="UTF-8">
    <title>Tripad</title>
    <style>
        a:visited {color: black;}
        a:link {color: black;}
        
    </style>
</head>
<body>
    <div>
        프사 아이디 날짜
        <hr ALIGN = "center" style = "border: solid 1px #908989;">
    </div>
    <div class = "">
        <div>
            <span style = "font-size: 20pt">#제주시 #당일여행 #2명 #기타</span>
            <button>여행기획서 조회하기</button><br>

        </div>
        내용 <br><br><br><br><br>
        사진 <br><br><br><br><br>


    </div>
    <div>

        <hr ALIGN = "center" style = "border: solid 1px #908989;">
        <button>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            0
        </button>
        <button>
            <span class="glyphicon glyphicon-comment" aria-hidden=""></span>
            0
        </button>
        <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
    </div>
</body>
</html>